header
  margin-top: em(30px)
  .c-navbar
    max-height: em(50px)
    background-color: white
    padding: 0 em(14px)
    box-sizing: border-box
    border-bottom: 1px solid #333

// -------------------------------------
//   Hamburger
// -------------------------------------

.c-hamburger
  display: inline-block
  border-radius: 50%
  position: relative
  overflow: hidden
  margin: 0
  padding: 0
  width: 2rem
  height: 2rem
  top: 0.5625rem
  font-size: 0
  text-indent: -9999px
  appearance: none
  -webkit-appearance: none
  box-shadow: none
  border: 1px solid #666
  cursor: pointer
  background-color: white
  transition: background 0.3s

.c-hamburger:focus
  outline: none

.c-hamburger span
  display: block
  position: absolute
  top: 50%
  left: 8px
  right: 8px
  height: 1px
  background: #666
  &::before, &::after
    position: absolute
    display: block
    left: 0
    width: 100%
    height: 1px
    background-color: #666
    content: ""
  &::before
    top: -4px
  &::after
    bottom: -4px

// -------------------------------------
//   Breadcrumb
// -------------------------------------

nav
  display: inline-flex
  ul
    display: inline-flex
    margin: 0
    padding: 0
    list-style: none
    li
      display: inline-flex
      float: left
      margin: 0
      line-height: em(50px)
      padding: 0 em(8px)
      &::after
        content: ""
        display: inline-block
        position: relative
        top: em(10px)
        left: em(8px)
        width: 1px
        height: 30px
        background-color: #dadcdd
      &:last-child
        &::after
          display: none

// -------------------------------------
//   Navigation Icons
// -------------------------------------

.navIcons
  float: right
  li
    padding: 0
    &::after
      display: none
  a
    display: block
    margin: em(4px) em(4px) 0
    border-radius: 50%
    border: 1px solid #dadcdd
    width: em(35px)
    height: em(35px)
    overflow: hidden
    &::before
      left: 2px
      top: -2px

// -------------------------------------
//   Menu
// -------------------------------------

.c-menu
  display: inline-flex
  background-color: transparent
  position: relative
  left: em(-178px)
  transition: left 300ms
  &.is-active
    left: 0
  ul
    list-style: none
    font-size: em(14px)
    margin: 0
    padding: 0
    li
      margin: 0
      padding: 0 0 0 em(30px)
      min-width: em(178px)
      &::before
        left: -1em
      a:link
        position: relative
        display: inline-flex
        top: -1em
      &:hover
        background-color: #dadcdd