.icon
  &::before
    content: ""
    display: inline-flex
    position: relative
    width: em(30px, 14px)
    height: em(40px, 14px)
    background-color: transparent
    background: url("images/sprites.png") no-repeat
.icon--notifications
  &::before
    background-position: 0 0
  &:hover
    background-color: #ff7933
.icon--search
  &::before
    background-position: 0 -40px
  &:hover
    background-color: #ededef
.icon--plus
  background-color: #377ceb
  &::before
    background-position: 0 -80px
.icon--spaces
  &::before
    background-position: 0 -120px
.icon--courses
  &::before
    background-position: 0 -160px
.icon--likes
  &::before
    background-position: 0 -200px
.icon--list
  &::before
    background-position: 0 -240px
.icon--inbox
  &::before
    background-position: 0 -280px
.icon--avatar--s
  &::before
    background-position: 0 -320px
.icon--avatar--b
  &::before
    background-position: -34px -320px